<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추노인 - cnshin</title>
    <%- include ('./base/head') %>
</head>
<body>
    <div id="wrap">
        <%- include ('./base/header', { 
            isLogged: isLogged, 
            user: {
                username: user.username,
                avartarURL: user.avartarURL
            } 
        }) %>
        <%- include ('./base/side') %>
        <%- include ('./base/bottom') %>
        <div id="main" class="flex flex-center flex-middle">
            <div class="max-x">
                <br><br>
                <ul id="articleList" class="max-x">
                    <li>
                        <%- include ('./component/article', Object.assign(a, {isLogged: isLogged})) %>
                    </li>
                    <li>
                        
                    </li>
                </ul>
            </div>
        </div>
        
        
    </div>  
    <script src="/js/util.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>