<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cnsh community</title>
    <%- include ('./base/head') %>
</head>
<body>
    <div id="wrap">
        <%- include ('./base/header') %>
        <%- include ('./base/side') %>
        <div id="main" class="flex flex-center">
            <div class="max-x">
                <a href="/login">로그인</a>
                
                <br><br>
                <ul id="articleList" class="max-x">
                    <li>
                        <%- include('./component/article', {
                            article: {
                                profile: {
                                    avartarURL: '',
                                    username: 'chamwhy',
                                    roles: [
                                        {
                                            class: 'adminrole',
                                            name: '관리자'
                                        },
                                        {
                                            class: 'teacher',
                                            name: '선생님'
                                        }
                                    ],
                                    createdAt: Date.now()
                                },
                                content: '테스트 용으로 제작된 겁니다.\<strong>으하하하하ㅏ\</strong>'
                            }
                        }) %>
                    </li>
                </ul>
            </div>
        </div>
        
        <%- include ('./base/bottom') %>
    </div>  
    <script src="/js/util.js"></script>
</body>
</html>